consultasDietas/consultasDietas/Web References/wsDieta/wsDieta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="buscarDietaPorUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDietaPorUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarDietaPorUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDietaPorCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDietaPorClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarDietaPorClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDietaPorRangoFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDietaPorRangoFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarDietaPorRangoFechaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="buscarDietaPorUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:buscarDietaPorUsuario" />
  </wsdl:message>
  <wsdl:message name="buscarDietaPorUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:buscarDietaPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="buscarDietaPorClienteSoapIn">
    <wsdl:part name="parameters" element="tns:buscarDietaPorCliente" />
  </wsdl:message>
  <wsdl:message name="buscarDietaPorClienteSoapOut">
    <wsdl:part name="parameters" element="tns:buscarDietaPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="buscarDietaPorRangoFechaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarDietaPorRangoFecha" />
  </wsdl:message>
  <wsdl:message name="buscarDietaPorRangoFechaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarDietaPorRangoFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsDietaSoap">
    <wsdl:operation name="buscarDietaPorUsuario">
      <wsdl:input message="tns:buscarDietaPorUsuarioSoapIn" />
      <wsdl:output message="tns:buscarDietaPorUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarDietaPorCliente">
      <wsdl:input message="tns:buscarDietaPorClienteSoapIn" />
      <wsdl:output message="tns:buscarDietaPorClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarDietaPorRangoFecha">
      <wsdl:input message="tns:buscarDietaPorRangoFechaSoapIn" />
      <wsdl:output message="tns:buscarDietaPorRangoFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsDietaSoap" type="tns:wsDietaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarDietaPorUsuario">
      <soap:operation soapAction="http://tempuri.org/buscarDietaPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDietaPorCliente">
      <soap:operation soapAction="http://tempuri.org/buscarDietaPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDietaPorRangoFecha">
      <soap:operation soapAction="http://tempuri.org/buscarDietaPorRangoFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsDietaSoap12" type="tns:wsDietaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarDietaPorUsuario">
      <soap12:operation soapAction="http://tempuri.org/buscarDietaPorUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDietaPorCliente">
      <soap12:operation soapAction="http://tempuri.org/buscarDietaPorCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDietaPorRangoFecha">
      <soap12:operation soapAction="http://tempuri.org/buscarDietaPorRangoFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsDieta">
    <wsdl:port name="wsDietaSoap" binding="tns:wsDietaSoap">
      <soap:address location="https://localhost:44388/wsDieta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsDietaSoap12" binding="tns:wsDietaSoap12">
      <soap12:address location="https://localhost:44388/wsDieta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>